name: "Build"

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**/*.md'
      - '**/*.gitignore'
      - '**/*.gitattributes'
  workflow_dispatch:
    branches:
      - main
    paths-ignore:
      - '**/*.md'
      - '**/*.gitignore'
      - '**/*.gitattributes'

env:
  PACKAGE_PATH: ./package
      
jobs:
  dotnet_workflow:
    if: github.event_name == 'push' && contains(toJson(github.event.commits), '***NO_CI***') == false && contains(toJson(github.event.commits), '[ci skip]') == false && contains(toJson(github.event.commits), '[skip ci]') == false
    name: Pack 
    runs-on: ubuntu-latest
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      DOTNET_NOLOGO: true
      DOTNET_GENERATE_ASPNET_CERTIFICATE: false
      DOTNET_ADD_GLOBAL_TOOLS_TO_PATH: false
      DOTNET_MULTILEVEL_LOOKUP: 0

    steps:
    - uses: actions/checkout@v2
      
    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x

    - name: Pack
      working-directory: src
      run: dotnet pack -o ${{ env.PACKAGE_PATH }}

    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1.0.2
      with:
        nuget-api-key: ${{ secrets.NUGET_KEY }}
        nuget-version: latest

    - name: Get certificate
      id: cert_file
      uses: timheuer/base64-to-file@master
      with:
          fileName: 'certfile.pfx'
          encodedString: ${{ secrets.SIGNING_CERT }}

    # Sign the package
    - name: Sign NuGet Package
      run: nuget sign "**/*.nupkg" -CertificatePath ${{ steps.cert_file.outputs.filePath }} -CertificatePassword "${{ secrets.CERT_PWD }}" -Timestamper http://timestamp.digicert.com -NonInteractive

    - name: Publish NuGet package
      run: dotnet nuget push "**/*.nupkg" -k ${{ secrets.NUGET_KEY }} -s https://api.nuget.org/v3/index.json

    - name: Publish artifact
      uses: actions/upload-artifact@master
      with:
        name: packaged-template
        path: ${{ env. PACKAGE_PATH }}